<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/main.css" />

  <script type="text/javascript">
    $(document).ready(function () {
      $("#form1").submit(function (event) {
        event.preventDefault();
        const mobileNumber = $("#mobileNumber").val();
        const password = $("#password").val();
        const username = $("#username").val();

        if (mobileNumber.length !== 10 || isNaN(mobileNumber)) {
          showErrorModal("Invalid mobile number. Please enter a 10-digit number.");
          return;
        }

        if (
          password.length < 6 ||
          !/[a-z]/.test(password) ||
          !/[A-Z]/.test(password) ||
          !/[!@#$%^&*(),.?":{}|<>]/.test(password)
        ) {
          showErrorModal(
            "Password must be at least 6 characters and contain at least one uppercase letter, one lowercase letter, and one special character."
          );
          return;
        }

        // Check for unique username (client-side)
        if (!isUsernameUnique(username)) {
          showErrorModal("Username is already registered. Please choose a different username.");
          return;
        }

        $.ajax({
          type: "POST",
          url: "/", // Replace with your server-side endpoint
          data: $("#form1").serialize(),
          dataType: "json",
          success: function (response) {
            $("#form1")[0].reset();
            showSuccessModal(response.Success);
            setTimeout(function () {
              $("#check").html("");
            }, 3000);
            if (response.Success == "You are registered. You can log in now.") {
              showLoginModal();
              setTimeout(function () {
                window.location.href = "/login";
              }, 3000);
            }
          },
          error: function () {},
        });
      });
    });

    function isUsernameUnique(username) {
      // You may need to implement a server-side check for username uniqueness
      // For demonstration purposes, assume it's unique on the client side
      return true;
    }

    function showErrorModal(message) {
      $("#errorModalBody").text(message);
      $("#errorModal").modal("show");
    }

    function showSuccessModal(message) {
      $("#successModalBody").text(message);
      $("#successModal").modal("show");
    }

    function showLoginModal() {
      $("#loginModal").modal("show");
    }
  </script>
</head>
<body>
  <div class="col-md-4 col-md-offset-4">
    <div>
      <p>Register Now</p>
    </div>
    <div class="form-group">
      <form id="form1" method="post">
        <input type="text" name="username" id="username" placeholder="Username" required="" class="form-control" /><br />
        <input type="text" name="firstName" placeholder="First Name" required="" class="form-control" /><br />
        <input type="text" name="lastName" placeholder="Last Name" required="" class="form-control" /><br />
        <input type="number" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" required="" class="form-control" /><br />
        <input
        type="text"
        name="street"
        placeholder="Street"
        required=""
        class="form-control"
      /><br />
      <input
        type="text"
        name="city"
        placeholder="City"
        required=""
        class="form-control"
      /><br />
      <input
        type="text"
        name="state"
        placeholder="State"
        required=""
        class="form-control"
      /><br />
      <input
        type="text"
        name="country"
        placeholder="Country"
        required=""
        class="form-control"
      /><br />
      <input
      type="email"
      name="email"
      placeholder="Email"
      required=""
      class="form-control"
    /><br />
        <input type="password" id="password" name="password" placeholder="Password" required="" class="form-control" /><br />
        <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control" /><br />
        <input type="submit" value="Register" class="btn btn-success" />
      </form>
    </div>

    <div class="mssg bg-danger">
      <span id="check"></span>
    </div>
    <div>
      <span>Already Registered! <a href="/login">Login</a></span>
    </div>
    <div id="LangTable"><a href="/login" id="aa"></a></div>
  </div>

  <!-- Error Modal -->
  <div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Error</h4>
        </div>
        <div class="modal-body" id="errorModalBody"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Success Modal -->
  <div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body" id="successModalBody"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Registration Successful</h4>
        </div>
        <div class="modal-body">
          <p>You are now registered. Click the button below to login.</p>
          <a href="/login" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
