<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">

  <script type="text/javascript">
    $(document).ready(function () {

      $("#form").submit(function (event) {
        event.preventDefault();

        $.ajax({
          type: 'POST',
          url: '/login',
          data: $('#form').serialize(),
          dataType: "json",
          success: function (response) {
            $('#form')[0].reset();

            if (response.Success == "Success!") {
              showLoginSuccessModal();
              // Redirect to profile after a delay (e.g., 3 seconds)
              setTimeout(function () {
                window.location.href = "/profile";
              }, 3000);
            } else {
              handleLoginError(response.Error || "Please check Email and password.");
            }
          },
          error: function () {
            handleLoginError("An error . Please try again.");
          }
        });
      });

      function handleLoginError(message) {
        if (message.toLowerCase().includes("already registered")) {
          // Show a special popup for "email already registered" case
          $("#emailRegisteredModal").modal("show");
        } else if (message.toLowerCase().includes("incorrect password")) {
          // Show a special popup for "incorrect password" case
          $("#incorrectPasswordModal").modal("show");
        } else {
          // Show a generic error modal for other cases
          showErrorModal(message);
        }
      }

      function showErrorModal(message) {
        $("#errorModalBody").text(message);
        $("#errorModal").modal("show");
      }

      function showLoginSuccessModal() {
        $("#loginSuccessModal").modal("show");
      }

    });
  </script>
</head>

<body>
  <div class="col-md-4 col-md-offset-4">
    <div>
      <p>Login</p>
    </div>
    <div class="form-group">
      <form id="form" method="post">
        <input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br />
        <input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
        <input type="submit" value="Login" class="btn btn-success">
      </form>
    </div>
    <div class="mssg bg-danger">
      <span id="check"></span>
    </div>
    <div id="LangTable"><a href="/profile" id="aa"></a>
    </div>
    <div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
    </div>
    <div><span>Create a new Account?</span><a href="/">Register here</a>
    </div>

  </div>

  <!-- Email Already Registered Modal -->
  <div id="emailRegisteredModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Email Already Registered</h4>
        </div>
        <div class="modal-body">
          <p>The provided email is already registered. Please use a different email or proceed to the login page.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Incorrect Password Modal -->
  <div id="incorrectPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Incorrect Password</h4>
        </div>
        <div class="modal-body">
          <p>The provided password is incorrect. Please double-check your password or use the "Forgot Password" link.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Generic Error Modal -->
  <div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Error</h4>
        </div>
        <div class="modal-body" id="errorModalBody"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Success Modal -->
  <div id="loginSuccessModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login Successful</h4>
        </div>
        <div class="modal-body">
          <p>Login successful. Redirecting to your profile...</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
