<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">


  <style>
    body {
      background-color: #f8f9fa;
      padding-top: 50px;
    }

    .form-container {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mssg {
      margin-top: 20px;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {

      $("#form").submit(function (event) {
        event.preventDefault();

        $.ajax({
          type: 'POST',
          url: '/login',
          data: $('#form').serialize(),
          dataType: "json",
          success: function (response) {
            $('#form')[0].reset();
            document.getElementById("check").innerHTML = response.Success;
            setTimeout(function () {
              document.getElementById("check").innerHTML = "";
            }, 3000);
            if (response.Success == "Success!") {
              document.getElementById("aa").click();
            };
          },
          error: function () {
          }
        })
      });

    });


  </script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-container">
          <p class="text-center">Login</p>
          <form id="form" method="post">
            <div class="form-group">
              <input type="text" name="email" placeholder="E-mail" required="" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" required="" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-success">
            </div>
          </form>
          <div class="mssg bg-danger text-center">
            <span id="check"></span>
          </div>
          <div class="text-center">
            <span>Forgot your password? <a href="/forgetpass">Click here</a></span><br>
            <span>Create a new account? <a href="/">Register here</a></span>
          </div>
          <div class="text-center">
            <a href="/profile" id="aa"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
